/*font family link*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');
body{
	font-family: 'Lato', sans-serif;
}
/* default css style code*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/*header area start*/
.logo {
	float: left;
	margin-top: 42px;
}
.header-area {
	border-top: 5px solid #F24259;
	min-height: 120px;
}
.container{
	width: 1170px;
	margin: auto;
}
/*main-menu area start*/
.main-menu {
	float: right;
}
.main-menu ul{}
.main-menu ul li {
	display: inline-block;
	margin-left: 20px;
	position: relative;
}
.main-menu ul li a {
	text-decoration: none;
	margin: 50px 0px;
	display: block;
	color: #666666;
	font-size: 15px;
	font-weight: 700;
	text-transform: capitalize;
	transition: .5s;
}
.main-menu ul li:hover> a{
	color: #F24259;
}
/* submenu section start*/
.main-menu ul li ul.submenu {
	position: absolute;
	background: #171a21;
	width: 220px;
	top: 120%;
	border-top: 5px solid #F24259;
	left: 0px;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
}
.main-menu ul li:hover ul.submenu{
	opacity: 1;
	visibility: visible;
	top: 100%;
}
.main-menu ul li ul.submenu li {
	display: block;
	margin: 0px;
	border: 1px solid #4a4444;
}
.main-menu ul li ul.submenu li a {
	color: #fff;
	padding: 15px 20px;
	margin: 0px;
	font-size: 15px;
	text-transform: capitalize;
	transition: .5s;
}
.main-menu ul li ul.submenu li a:hover{
	background: #F24259;
	color: #fff;
	padding-left: 40px;
}
.header-search {
	float: right;
	margin-top: 50px;
	margin-left: 55px;
	position: relative;
}
.header-search i {
	margin-left: 25px;
	padding-left: 25px;
}
.header-search::before {
	position: absolute;
	content: "";
	background: #cccccc;
	height: 20px;
	width: 2px;
	top: 0px;
}